$silver: #C9C9C9
$purple: #8F305B
$black: rgba(10,10,10,0.88)
$error-red: #f1c2c0
$gray: #424242

$header-background-color: #560027
$header-foreground-color: #FFFFFF

$footer-foreground-color: #FFFFFF
$footer-button-color: $gray

$tile-menu-background-color: white

$login-background-color: $black
$login-foreground-color: $silver
$login-button-background-color: $purple
$login-button-foreground-color: white

$login-error-background-color: $error-red
$login-error-foreground-color: $black

$tile-control-background-color: #424242
$tile-control-foreground-color: white

$new-post-sheet-background-color: #424242
$new-post-sheet-foreground-color: #FFFFFF