$font-color: white

$color-primary-0: #281F9F	// Main Primary color */
$color-primary-1: #3323FD
$color-primary-2: #2B1DD7
$color-primary-3: #231E5E
$color-primary-4: #161429

$color-secondary-1-0: #55159A	// Main Secondary color (1) */
$color-secondary-1-1: #8413FD
$color-secondary-1-2: #6F10D4
$color-secondary-1-3: #39195C
$color-secondary-1-4: #1C1227

$color-secondary-2-0: #145394	// Main Secondary color (2) */
$color-secondary-2-1: #1386FD
$color-secondary-2-2: #106ED1
$color-secondary-2-3: #183758
$color-secondary-2-4: #121C26
