$orange: #f60

$header-background-color: rgba(10,10,10,0.88)
$header-foreground-color: #C9C9C9

$footer-background-color: rgba(10,10,10,0.88)
$footer-foreground-color: #C9C9C9

$tile-menu-background-color: white

$login-background-color: rgba(10,10,10,0.88)
$login-foreground-color: #C9C9C9
$login-button-background-color: $orange
$login-button-foreground-color: white

$login-error-background-color: #f1c2c0
$login-error-foreground-color: #000000