@import "_colors"
$header-height: 50px
$menu-entry-height: 40px
$footer-height: 50px
$header-font-size: 18px
$font-color: $color-secondary-2-4
$background-color: $color-primary-4
$header-background-color: rgb(255, 255, 255)
$context-menu-font-color: #FFFFFF
$tile-background-color: #FFFFFF
$form-background-color: #FFFFFF
$imprint-background-color: #FFFFFF
$userdetails-background-color: #FFFFFF
$xs-breakpoint: 768px
$sm-breakpoint: 768px
$md-breakpoint: 992px

*
  color: $font-color

body
  background-color: $background-color

.logo
  .image
    background: url(/images/datjournaal_small.png) 0 0 no-repeat
    margin-left: 5px
    height: $menu-entry-height - 5px
    width: $menu-entry-height - 5px
    @media only screen and (-webkit-min-device-pixel-ratio: 2)
      background: url(/images/datjournaal_small@2x.png) 0 0 no-repeat
      background-size: contain
      height: $menu-entry-height - 10px
      width: $menu-entry-height - 10px
      margin-left: 0px
    display: inline-block

  .text
    @media only screen and (-webkit-min-device-pixel-ratio: 1)
      margin-left: 0px
    @media only screen and (-webkit-min-device-pixel-ratio: 2)
      margin-left: 5px
    font-size: $header-font-size + 2px
    font-family: "Calisto MT", "Book Antiqua"
    font-style: italic
    margin-left: 5px
    vertical-align: top

.main-header
  background-color: $header-background-color
  border-bottom: 0.5px solid $background-color
  color: $font-color
  height: $header-height
  font-size: $header-font-size
  padding: 5px
  .menu-entry
    font-size: $header-font-size
    height: $menu-entry-height
    padding: 5px
    vertical-align: top
  a
    color: $font-color

.isHidden
  img
    opacity: 0.4
.is-first
  margin-top: 30px
.detail-view
  margin-top: 0px
  @media(min-width: $sm-breakpoint)
    margin-top: 30px
.tile-list
  &:last-child
    margin-bottom: $footer-height + 10px
.tile
  display: block
  max-width: 600px
  @media(max-width: $xs-breakpoint)
    margin-left: -15px
    margin-right: -15px
    margin-bottom: 1px
  @media(min-width: $xs-breakpoint)
    margin-left: auto
    margin-right: auto
    margin-bottom: 30px
  border: 1px solid #f7f7f7
  background-color: $tile-background-color
  .location
    font-size: 10px
    a
      font-weight: lighter
      color: $color-secondary-1-2
  .date
    margin-top: 5px
    margin-left: 10px
    padding: 5px
  .description
    padding: 5px
    margin-left: 10px
    margin-bottom: 15px
  .author
    margin-top: 15px
    margin-left: 10px
    margin-bottom: 15px
    font-weight: bolder
  .menu
    z-index: 1
    font-size: 20px
    font-weight: 900
    margin-right: 1px
    padding: 5px
    position: relative
    cursor: pointer
    height: 30%
    .menu-text
      font-family: "Lucida Console", Monaco, monospace
    ul
      position: absolute
      list-style-type: none
      right: 0px
    li
      width: 150px
      z-index: 99
      font-size: 18px
      padding-left: 5px
      margin-top: 5px
      color: $font-color
      background-color: $header-background-color
      border: 0.5px solid $font-color
      &:hover
        text-decoration: underline
  img
    display: block
    width: 100%
    margin-left: auto
    margin-right: auto
  .description
    word-wrap: break-word
    font-size: 16px
  .date
    font-weight: lighter

.loading-indicator
  display: inline
  font-style: italic

.new-post-form
  width: 100%
  padding-bottom: 10px
  border: 1px solid #ffffff
  border-radius: 2px
  background-color: $form-background-color
  .headline
    padding-left: 10px
  .file-upload
    padding: 25px
    input[type="file"]
      @media(max-width: $sm-breakpoint)
        max-width: 200px
  .description-container
    padding: 25px
  .sheet
    display: block
    background-color: rgb(250, 250, 250)
    margin-left: 15px
    margin-right: 15px
    margin-bottom: 15px
    padding: 5px
    height: 100%
    input[type="checkbox"]
      margin-left: auto
      margin-right: auto
  .submit-post
    margin: 10px
  .post-description
    padding-left: 5px
    padding-right: 5px
    outline: none
    box-shadow: none
    -webkit-appearance: none
    border: 2px dashed #D1C7AC
    appearance: none
    font-size: 16px
  .image-preview
    padding-left: 25px
    padding-right: 25px
    img
      margin-top: 20px
      margin-bottom: 0px
      margin-right: 5px
      max-height: 160px
      height: 100%
      width: 100%
  @media(min-width: $md-breakpoint)
    .image-preview
      img
        max-height: 500px
  .location-form
    .location-input
      margin-left: 5px
      margin-right: 5px
    ul
      list-style-type: none

.footer
  height: $footer-height
  background-color: white
  border: 0.5px solid $font-color
  position: fixed
  bottom: 0px
  width: 100%
  font-weight: bolder
  .new-post
    background-color: #262626
  .stats
    background-color: #2c4388
  .sign-out
    background-color: #53b43d
  button
    margin: 0px 0px
    padding: 10px 10px
    border: none
    background-color: transparent
    text-align: center
    vertical-align: middle
    height: 100%
    width: 100%
  ul
    margin: 0px
    padding: 0px
    height: 100%
    li
      height: 100%
      width: 60px
      margin: 0px
      padding: 0px

.stats
  background-color: #FFFFFF
  width: 100%
  margin: 5px 0px
  text-align: center
  h1
    font-size: 16px
    text-decoration: underline
    text-align: center
  h3
    font-size: 12px

.imprint
  width: 100%
  margin: $footer-height + 20px 0px
  padding: 15px
  background-color: $imprint-background-color
  font-size: 16px
  .contact
    margin-top: 15px
    font-size: 16px

.login
  $control-width: 250px
  $input-font-size: 20px
  margin-top: auto
  margin-bottom: auto
  background-color: white
  height: 350px
  color: $font-color
  .error
    background-color: #f1c2c0
    padding: 5px
    font-weight: bolder
  form, header
    margin-left: auto
    margin-right: auto
    width: $control-width
  header
    margin-top: 35px
  input[type="email"]
    font-size: $input-font-size
    width: $control-width
    margin-top: 5px
    margin-bottom: 5px
  input[type="password"]
    font-size: $input-font-size
    width: $control-width
    margin-top: 5px
    margin-bottom: 5px
  button[type="submit"]
    margin-top: 15px
    font-size: 16px
    width: $control-width

.userdetails
  color: $font-color
  background-color: $userdetails-background-color
  padding-left: 15px
  .progress-indicator
    display: block
    font-size: 16px
    font-style: italic
  .error-message
    margin-bottom: 5px
    border: 0.5px solid red
    padding: 15px
    color: red
    display: block
    font-size: 16px
    font-style: italic
  form
    margin: 50px
    max-width: 350px