@import "_colors"

.main-header
  background-color: $color-secondary-1-0
  color: $font-color
  .menu-entry
    height: 100%
    padding: 5px
  a
    color: $font-color

.tile
  margin-bottom: 30px
  margin-left: auto
  margin-right: auto
  display: block
  margin-left: auto
  margin-right: auto

.loading-indicator
  display: inline
  font-style: italic
