@import "_colors"
$header-height: 50px
$footer-height: 30px
$header-font-size: 18px

body
  background-color: rgb(240, 240, 240)

.main-header
  background-color: $color-secondary-1-0
  color: $font-color
  height: $header-height
  font-size: $header-font-size
  padding: 5px
  .menu-entry
    font-size: $header-font-size
    height: 100%
    padding: 5px
  a
    color: $font-color

.isHidden
  img
    opacity: 0.4
.tile
  margin-bottom: 30px
  display: block
  max-width: 600px
  margin-left: auto
  margin-right: auto
  border: 1px solid #f7f7f7
  background-color: #ffffff
  &:first-child
    margin-top: 30px
  .date
    padding: 5px
  .description
    padding: 5px
  .author
    margin-top: 15px
    margin-left: 5px
    font-weight: bolder
  .menu
    z-index: 1
    font-size: 20px
    font-weight: 900
    margin-right: 1px
    padding: 5px
    position: relative
    cursor: pointer
    height: 30%
    .menu-text
      font-family: "Lucida Console", Monaco, monospace
    ul
      position: absolute
      list-style-type: none
      right: 0px
    li
      width: 150px
      z-index: 99
      font-size: 18px
      padding-left: 5px
      margin-top: 5px
      color: $font-color
      background-color: $color-secondary-1-2
      &:hover
        text-decoration: underline
  img
    display: block
    width: 100%
    margin-left: auto
    margin-right: auto
  .description
    word-wrap: break-word
    font-size: 16px
  .date
    font-weight: lighter

.loading-indicator
  display: inline
  font-style: italic

.new-post-form
  .post-description
    outline: none
    box-shadow: none
  .image-preview
    img
      margin-top: 20px
      margin-bottom: 0px
      max-height: 80px
  @media(min-width: 970px)
    .image-preview
      img
        max-height: 160px

.footer
  height: $footer-height
  background-color: $color-secondary-1-0
  position: fixed
  bottom: 0px
  width: 100%
  color: $font-color
  font-weight: bolder
  button
    margin: 0px 1px
    padding: 0px
    width: 30px
    border: 1px solid $font-color
    background-color: transparent
    text-align: center
    vertical-align: middle
    height: 100%
  ul
    margin: 0px
    padding: 0px
    height: 100%
    li
      height: 100%
      margin: 0px
      padding: 0px
